.home-container {
  width: 80vw;
  padding: 1em;
}

.home-content {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

.home-container h2 {
  border-bottom: 3px solid #00657e;
}

.home-content > .card-content {
  border: 1px solid #707070;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-content > .card-content > p.category {
  text-align: center;
  font: italic normal normal 14px/24px Arial;
  color: #757575;
  margin: 0;
  margin-bottom: 5%;
  padding: 1%;
  width: 30%;
  background: #ececec 0% 0% no-repeat padding-box;
}

h3 {
  text-align: left;
  font: italic normal normal 18px/28px Arial;
  padding-left: 5%;
}

.home-content > .card-content > p.summary {
  text-align: left;
  font: normal normal normal 12px/22px Arial;
  color: #757575;
  letter-spacing: 0px;
  opacity: 1;
  padding: 0 5%;
  text-align: justify;
}

.home-content > div > img {
  align-self: center;
  height: 15vh;
  width: 90%;
  object-fit: cover;
  background: #00caff 0% 0% no-repeat padding-box;
  margin-bottom: 5%;
}

.fa,
.fas {
  width: 1em;
}

.content-author {
  padding-left: 5%;
}

@media only screen and (max-width: 900px) {
  section.content {
    grid-template-columns: none;
  }
}
