.register-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #ffffff00, #00ccff),
    url("../images/backgroundLogin.jpg");
  background-size: cover;
}

.register-form-container {
  width: 90%;
  justify-content: center;
  margin: 0;
}

.register-data {
  height: 70%;
  margin-right: 10%;
  margin-left: 10%;

  border-radius: 30px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff 0% 0% no-repeat padding-box;
}

.register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1.5em;
}

.register-logo {
  width: 10%;
  height: 100%;
}

.register-logo > img {
  width: 80%;
  margin: 10%;
}

label {
  width: auto;
  text-align: left;
  font: normal normal bold 20px Gadugi;
  letter-spacing: 0px;
  color: #2699fb;
}
