body {
  margin: 0;
}

h1 {
  /*content display*/
  width: fit-content;
  text-align: center;
  font: normal normal bold 30px Gadugi;
  letter-spacing: 0px;
  color: #00caff;
}

h2 {
  text-align: left;
  font: normal normal bold 20px Gadugi;
  letter-spacing: 0px;
  color: #00caff;
}

p {
  padding-top: 0.5em;
  text-align: left;
  font: normal normal normal 24px Gadugi;
}
